
body{
  background-color:white;
  font-family: 'Times New Roman', Times, serif;
}


h1{
  font-size: 45px;
  text-align:center;
  margin-top: 20%;
  margin-bottom: 20%;
}

.arrow{
  align-items:center;
  color: black;
  font-size: 2rem;
  margin-top: 2rem;
  animation: bounce 2s infinite;
}