
body{
  background-image: url(ivory-off-white-paper-texture.jpg);
  font-family: 'Times New Roman', Times, serif;
}


h1{
  font-style: italic;
  font-size: 50px;
  text-align:center;
  margin-top: 20%;
  margin-bottom: 20%;
}

.arrow{
  text-align:center;
  color: black;
  font-size: 1.5rem;
  margin-top: 2rem;
  animation: bounce 2s infinite;
}

.alice{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; 
}


.white-rabbit{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; 
}

